@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

* {
    outline: 1px solid red;
}

#header {
    background-color: white;
    color: black;
    height: 90px;
    border-bottom: 6px solid white;
}

.nav {
    max-width: 950px;
    margin: auto;
    display: grid;
    grid grid-template-columns: 200px auto;
}

.logo {
    margin-top: 40px;
    font-size: 1.8rem;
}

.links {
    text-align: right;
    margin-top: 40px;
    font-size: 1.1rem;
    color: black;
}

.links a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.salmon {
    color: #f16c65;
}