@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#container {
    max-width: 960px;
    margin: auto;
}

* {
    outline: 1px solid red;
}

#header {
    background-color: white;
    color: black;
    height: 90px;
    border-bottom: 6px solid white;
}

#nav {
    text-align: right
}

#nav a {
    padding: 0 8px;
    text-decoration: none;
    color: orange
}

.logo {
    margin-top: 40px;
    font-size: 1.8rem;
    padding-left: 20px;
}

.links {
    text-align: right;
    margin-top: 40px;
    font-size: 1.1rem;
    color: black;
}

.links a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.salmon {
    color: #f16c65;
}

#gallery {
    padding: 20px;
}



